
#background{
    position: absolute;
    height: 100%;
    width: 100%;
}

.pokemons{
    height:210px;
}

.pokemon-name{
    text-align: center;
    margin-top: 120px;
    font-family: 'Chelsea Market', cursive;
    color: rgba(0, 0, 104, 0.603);
}
.pokemon-hp{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0.603); 
}

#fight-botton{
    border-radius: 25px;
    margin-top:150px
}

.pika-pika{
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: rgba(0, 0, 104, 0.603);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}
#pikachu-main:hover .pika-pika{
    visibility: visible;
}
.bulba-bulba{
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: rgba(0, 0, 104, 0.603);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}
#bulba-main:hover .bulba-bulba{
    visibility: visible;
}
.char-char{
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: rgba(0, 0, 104, 0.603);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}
#charmander-main:hover .char-char{
    visibility: visible;
}
.squirtle-squirtle{
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: rgba(0, 0, 104, 0.603);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}
#squirtle-main:hover .squirtle-squirtle{
    visibility: visible;
}